body {
    background-image: url("images/background/login_background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
input[type="text"], input[type="number"], input[type="date"], input[type="file"] {
    width: 350px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
}
label {
    font-weight: bold;
    color: rgb(9, 49, 24);
    margin-bottom: 5px;
    width: 100%;
    display: block;
    text-align: center;
}
.radio-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.radio-group label {
    margin-right: 20px;
}
#submit-button {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #087c2f;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}