body{
    background-image: url("images/background/login_background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    height: 100vh;
}
form{
    padding: 30px;
}
input,
#submit-button,#login-button{
    width: 300px;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}
#submit-button,#login-button{
    background-color: #087c2f;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
p{
    font-weight: bold;
    color: rgb(9, 49, 24);
    margin-bottom: 5px; 
    width: 100%; 
}
a{
    display: block;
    text-align: center;
    color: #2cb359;
}
#optionsell,#optionbuy{
    background-color: #087c2f;
    display: block;
    margin-bottom: 10px;
    width: 300px;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 30px;
    box-sizing: border-box;
}
