body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/assets/images/home_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(161, 175, 161, 0.8);
  }
  
  header {
    background-color: rgba(158, 172, 158, 0.8);
    color: #fff;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border-radius: 30px;
  }
  
  .container {
    flex: 1;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  section h2 {
    color: #889788;
  }
  
  
  nav ul li a:hover {
    background-color: rgba(165, 182, 125, 0.2);
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgba(57, 83, 57, 0.8);
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  nav ul li a:hover {
    background-color: rgba(
      165,
      182,
      125,
      0.8
    );
    color: #333;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .logo {
    margin-right: auto;
  }
  
  .logo img {
    height: 50px;
  }
  
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header-content h1 {
    margin-bottom: 30px;
  }
  
  p{
    color: #fff;
  }