<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pro - Home</title>
    <link rel="icon" type="image/x-icon" href="images/icon/favicon.jpeg" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap"
    />
    <link rel="stylesheet" href="home.component.css" />
  </head>
  <body>
    <header>
      <div class="header-content">
        <h1>Welcome to pro</h1>
        <a [routerLink]="'Home'">Home</a>&nbsp;
        <a [routerLink]="'Buy'">Buy</a>&nbsp;
        <a [routerLink]="'Sell'">Sell</a>&nbsp;
        <a [routerLink]="'Contact'">Contact</a>&nbsp;
      </div>
    </header>
    <footer>
      <p>&copy; 2023 Agripro. All rights reserved.</p>
    </footer>
  </body>
</html>
