<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agripro - Home</title>
    <link rel="icon" type="image/x-icon" href="images/icon/favicon.jpeg" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap"
    />
    <link rel="stylesheet" href="home.component.css" />
  </head>
  <body>
    <header>
      <div class="header-content">
        <h1>Welcome to Agripro</h1>
        <nav>
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/buy" >Buy</a></li>
            <li><a routerLink="/sell" >Sell</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <footer>
      <p>&copy; 2023 Agripro. All rights reserved.</p>
    </footer>
  </body>
</html>