<body>
  <p>accholder works!</p>
  Choose Account Type:
  <select [(ngModel)]="accType">
    <option>Savings</option>
    <option>Current</option>
    <option>NRI</option></select
  ><br /><br />
  <table>
    <thead>
      <tr>
        <th>Account Number</th>
        <th>AccHolder Name</th>
        <th>Type of Account</th>
        <th>Amount</th>
        <th>Bank Name</th>
      </tr>
    </thead>
    <tbody>
      @for (accholder of accounts;track accholder){
      <tr>
        @if (accholder.typeofAccount==accType) {
        <th>{{ accholder.accountNumber }}</th>
        <th>{{ accholder.acholderName }}</th>
        <th>{{ accholder.typeofAccount }}</th>
        <th>{{ accholder.amount }}</th>
        <th>{{ accholder.bankname }}</th>
        }
      </tr>
      }
    </tbody>
  </table>
  <br /><br />
  <P>These guys have more than 50000 amount in their account</P>
  <table>
    <thead>
      <tr>
        <th>Account Number</th>
        <th>AccHolder Name</th>
        <th>Type of Account</th>
        <th>Amount</th>
        <th>Bank Name</th>
      </tr>
    </thead>
    <tbody>
      @for (accholder of accounts;track accholder){
      <tr>
        @if (accholder.amount>50000) {
        <th>{{ accholder.accountNumber }}</th>
        <th>{{ accholder.acholderName }}</th>
        <th>{{ accholder.typeofAccount }}</th>
        <th>{{ accholder.amount }}</th>
        <th>{{ accholder.bankname }}</th>
        }
      </tr>
      }
    </tbody>
  </table>
  <br /><br />
  Status of the accountant:
  <select [(ngModel)]="stat">
    <option>Loyal</option>
    <option>Active</option>
    <option>InActive</option>
  </select>
  <table>
    <thead>
      <tr>
        <th>Account Number</th>
        <th>AccHolder Name</th>
        <th>Type of Account</th>
        <th>Amount</th>
        <th>Bank Name</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      @for (accholder of accounts;track accholder){
      <tr>
        @if (accholder.status==stat) {
        <th>{{ accholder.accountNumber }}</th>
        <th>{{ accholder.acholderName }}</th>
        <th>{{ accholder.typeofAccount }}</th>
        <th>{{ accholder.amount }}</th>
        <th>{{ accholder.bankname }}</th>
        <th>{{ accholder.status }}</th>
        }
      </tr>
      }
    </tbody>
  </table>
</body>
